{% extends "blackjack/blackjackbase.html.twig" %}
{% block body %}

{% if class == "finish" %}
<h2>Hej</h2>
{% endif %}

<div class="game-table-container" style="background-image: url('{{ asset('assets/img/blackjackbackground.jpg') }}');">
    {% if deckCount == 52 %}
        <div class="dealer-section">
        <div class="dealer-text">
            <p>Kort kvar: {{ deckCount }}</p>
        </div>
        </div>
        <div class="player-section">
            <p>Spelare</p>
            <button onclick="location.href='{{ path('blackjack') }}'" type="button">Startade inte spelet? Tryck här!</button>
        </div>
    {% endif %}

    {% if deckCount < 52 %}
        <div class="dealer-section">
            {% if dealerCards|length <= 2 %}
                    <div class="dealer-text">
                        <p>Kort kvar: {{ deckCount }}</p>
                    </div>
                    <div class="blackjack-container">
                        {% for card in dealerCards %}
                            <div class="blackjack-cards
                                {% if loop.index == 1 %}
                                    {% if card.getSuit() == 'Hearts' %}
                                        heart
                                    {% elseif card.getSuit() == 'Diamonds' %}
                                        diamond
                                    {% elseif card.getSuit() == 'Clubs' %}
                                        club
                                    {% else %}
                                        spade
                                    {% endif %}
                                {% else %}
                                    back
                                {% endif %}
                            ">
                                <p>
                                    {% if loop.index == 1 %}
                                        {{ card.getAsString() }}
                                    {% else %}
                                        ?
                                    {% endif %}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
            {% else %}
                    <div class="dealer-text">
                        <p>Kort kvar: {{ deckCount }}</p>
                        <p>Värde: {{ dealerValue }}</p>
                    </div>
                    <div class="blackjack-container">
                        {% for card in dealerCards %}
                            <div class="blackjack-cards
                                {% if card.getSuit() == 'Hearts' %}
                                    heart
                                {% elseif card.getSuit() == 'Diamonds' %}
                                    diamond
                                {% elseif card.getSuit() == 'Clubs' %}
                                    club
                                {% else %}
                                    spade
                                {% endif %}
                            ">
                                <p>{{ card.getAsString() }}</p>
                            </div>
                        {% endfor %}
                    </div>
            {% endif %}
        </div>
    {% endif %}

    {% if deckCount < 52 %}
        <div class="player-section">
            <p>{{ name1 }} (Insatts: {{ bet1 }}) Värde: {{ playerValue }}</p>
                {% if class != "finish" %}
                    {% if stand1 != true %}
                        {% if busted1 != true %}
                            <button class="blackjackbutton" onclick="location.href='{{ path('hitRegister', { player: 'player1' }) }}'" type="button">Ta kort</button>
                        {% endif %}
                        <button class="blackjackbutton" onclick="location.href='{{ path('standRegister', { player: 'player1' }) }}'" type="button">Stanna</button>
                        {% if busted1 != true %}
                            <button class="blackjackbutton" onclick="location.href='{{ path('doublingRegister', { player: 'player1' }) }}'" type="button">Dubbla</button>
                        {% endif %}
                    {% endif %}
                {% endif %}
                <div class="blackjack-container">
                    {% for card in playerCards %}
                        <div class="blackjack-cards
                            {% if card.getSuit() == 'Hearts' %}
                                heart
                            {% elseif card.getSuit() == 'Diamonds' %}
                                diamond
                            {% elseif card.getSuit() == 'Clubs' %}
                                club
                            {% else %}
                                spade
                            {% endif %}
                        ">
                            <p>{{ card.getAsString() }}</p>
                        </div>
                    {% endfor %}
                </div>
        </div>
    {% endif %}

    {% if deckCount < 52 %}
        <div class="player-section">
            <p>{{ name2 }} (Insatts: {{ bet2 }}) Värde: {{ playerValue2 }}</p>
                {% if class != "finish" %}
                    {% if stand2 != true %}
                        {% if busted2 != true %}
                            <button class="blackjackbutton" onclick="location.href='{{ path('hitRegister', { player: 'player2' }) }}'" type="button">Ta kort</button>
                        {% endif %}
                        <button class="blackjackbutton" onclick="location.href='{{ path('standRegister', { player: 'player2' }) }}'" type="button">Stanna</button>
                        {% if busted2 != true %}
                            <button class="blackjackbutton" onclick="location.href='{{ path('doublingRegister', { player: 'player2' }) }}'" type="button">Dubbla</button>
                        {% endif %}
                    {% endif %}
                {% endif %}
                <div class="blackjack-container">
                    {% for card in playerCards2 %}
                        <div class="blackjack-cards
                            {% if card.getSuit() == 'Hearts' %}
                                heart
                            {% elseif card.getSuit() == 'Diamonds' %}
                                diamond
                            {% elseif card.getSuit() == 'Clubs' %}
                                club
                            {% else %}
                                spade
                            {% endif %}
                        ">
                            <p>{{ card.getAsString() }}</p>
                        </div>
                    {% endfor %}
                </div>
        </div>
    {% endif %}

    {% if deckCount < 52 %}
        <div class="player-section">
            <p>{{ name3 }} (Insatts: {{ bet3 }}) Värde: {{ playerValue3 }}</p>
                {% if class != "finish" %}
                    {% if stand3 != true %}
                        {% if busted3 != true %}
                            <button class="blackjackbutton" onclick="location.href='{{ path('hitRegister', { player: 'player3' }) }}'" type="button">Ta kort</button>
                        {% endif %}
                        <button class="blackjackbutton" onclick="location.href='{{ path('standRegister', { player: 'player3' }) }}'" type="button">Stanna</button>
                        {% if busted3 != true %}
                            <button class="blackjackbutton" onclick="location.href='{{ path('doublingRegister', { player: 'player3' }) }}'" type="button">Dubbla</button>
                        {% endif %}
                    {% endif %}
                {% endif %}
                <div class="blackjack-container">
                    {% for card in playerCards3 %}
                        <div class="blackjack-cards
                            {% if card.getSuit() == 'Hearts' %}
                                heart
                            {% elseif card.getSuit() == 'Diamonds' %}
                                diamond
                            {% elseif card.getSuit() == 'Clubs' %}
                                club
                            {% else %}
                                spade
                            {% endif %}
                        ">
                            <p>{{ card.getAsString() }}</p>
                        </div>
                    {% endfor %}
                </div>
        </div>
    {% endif %}
</div>

{% endblock %}
