{% extends "base.html.twig" %}
{% block body %}

{% if deckCount == 52 %}
    <h2>Dealer</h2>
    <ul>
        <p>Kort kvar: {{ deckCount }}</p>
    </ul>
    <h2>Spelare</h2>
    <button onclick="location.href='{{ path('blackjack') }}'" type="button">Startade inte spelet? Tryck här!</button>
{% endif %}


{% if deckCount < 52 %}
        {% if dealerCards|length <= 2 %}
            <h2>Dealer</h2>
            <ul>
                <p>Kort kvar: {{ deckCount }}</p>
                <div class="card-container">
                    {% for card in dealerCards %}
                        <div class="allcards
                            {% if loop.index == 1 %}
                                {% if card.getSuit() == 'Hearts' %}
                                    heart
                                {% elseif card.getSuit() == 'Diamonds' %}
                                    diamond
                                {% elseif card.getSuit() == 'Clubs' %}
                                    club
                                {% else %}
                                    spade
                                {% endif %}
                            {% else %}
                                back
                            {% endif %}
                        ">
                            <p>
                                {% if loop.index == 1 %}
                                    {{ card.getAsString() }}
                                {% else %}
                                    ?
                                {% endif %}
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </ul>
        {% else %}
            <h2>Dealer</h2>
            <ul>
                <p>Kort kvar: {{ deckCount }}</p>
                <p>Poäng: {{ dealerValue }}</p>
                <div class="card-container">
                    {% for card in dealerCards %}
                        <div class="allcards
                            {% if card.getSuit() == 'Hearts' %}
                                heart
                            {% elseif card.getSuit() == 'Diamonds' %}
                                diamond
                            {% elseif card.getSuit() == 'Clubs' %}
                                club
                            {% else %}
                                spade
                            {% endif %}
                        ">
                            <p>{{ card.getAsString() }}</p>
                        </div>
                    {% endfor %}
                </div>
            </ul>
    {% endif %}
{% endif %}

{% if deckCount < 52 %}
    <h2>{{ name1 }} (Satsning: {{ bet1 }})</h2>
        <ul>
            <p>Poäng: {{ playerValue }}</p>
            {% if class != "finish" %}
                {% if stand1 != true %}
                    <button onclick="location.href='{{ path('hitRegister', { player: 'player1' }) }}'" type="button">Ta kort</button>
                    <button onclick="location.href='{{ path('standRegister', { player: 'player1' }) }}'" type="button">Stanna</button>
                    <button onclick="location.href='{{ path('doublingRegister', { player: 'player1' }) }}'" type="button">Dubbla</button>
                {% endif %}
            {% endif %}
            <div class="card-container">
                {% for card in playerCards %}
                    <div class="allcards
                        {% if card.getSuit() == 'Hearts' %}
                            heart
                        {% elseif card.getSuit() == 'Diamonds' %}
                            diamond
                        {% elseif card.getSuit() == 'Clubs' %}
                            club
                        {% else %}
                            spade
                        {% endif %}
                    ">
                        <p>{{ card.getAsString() }}</p>
                    </div>
                {% endfor %}
            </div>
        </ul>
{% endif %}

{% if deckCount < 52 %}
    <h2>{{ name2 }} (Satsning: {{ bet2 }})</h2>
        <ul>
            <p>Poäng: {{ playerValue2 }}</p>
            {% if class != "finish" %}
                {% if stand2 != true %}
                    <button onclick="location.href='{{ path('hitRegister', { player: 'player2' }) }}'" type="button">Ta kort</button>
                    <button onclick="location.href='{{ path('standRegister', { player: 'player2' }) }}'" type="button">Stanna</button>
                    <button onclick="location.href='{{ path('doublingRegister', { player: 'player2' }) }}'" type="button">Dubbla</button>
                {% endif %}
            {% endif %}
            <div class="card-container">
                {% for card in playerCards2 %}
                    <div class="allcards
                        {% if card.getSuit() == 'Hearts' %}
                            heart
                        {% elseif card.getSuit() == 'Diamonds' %}
                            diamond
                        {% elseif card.getSuit() == 'Clubs' %}
                            club
                        {% else %}
                            spade
                        {% endif %}
                    ">
                        <p>{{ card.getAsString() }}</p>
                    </div>
                {% endfor %}
            </div>
        </ul>
{% endif %}

{% if deckCount < 52 %}
    <h2>{{ name3 }} (Satsning: {{ bet3 }})</h2>
        <ul>
            <p>Poäng: {{ playerValue3 }}</p>
            {% if class != "finish" %}
                {% if stand3 != true %}
                    <button onclick="location.href='{{ path('hitRegister', { player: 'player3' }) }}'" type="button">Ta kort</button>
                    <button onclick="location.href='{{ path('standRegister', { player: 'player3' }) }}'" type="button">Stanna</button>
                    <button onclick="location.href='{{ path('doublingRegister', { player: 'player3' }) }}'" type="button">Dubbla</button>
                {% endif %}
            {% endif %}
            <div class="card-container">
                {% for card in playerCards3 %}
                    <div class="allcards
                        {% if card.getSuit() == 'Hearts' %}
                            heart
                        {% elseif card.getSuit() == 'Diamonds' %}
                            diamond
                        {% elseif card.getSuit() == 'Clubs' %}
                            club
                        {% else %}
                            spade
                        {% endif %}
                    ">
                        <p>{{ card.getAsString() }}</p>
                    </div>
                {% endfor %}
            </div>
        </ul>
{% endif %}

{% endblock %}
