{% extends "base.html.twig" %}
{% block body %}

<h1>Api landingpage</h1>

<p>
    <a class="link-color" href="{{ path('api') }}">Api's</a></li>
</p>
<p>
    <a class="link-color" href="{{ path('api-lucky') }}">Lucky number</a></li>
</p>
<p>
    <a class="link-color" href="{{ path('api-quote') }}">Quote's</a></li>
</p>
<p>
    <a class="link-color" href="{{ path('api-session') }}">Session</a></li>
</p>
<p>
    <a class="link-color" href="{{ path('delete') }}">Delete</a></li>
</p>
<p>
    <a class="link-color" href="{{ path('api-deck') }}">Deck</a></li>
</p>
<form method="post" action="">
    <p>
        <input type="submit" name="shuffle" value="Shuffle"
               onclick="this.form.action='{{ path('api-shuffle') }}';">
    </p>
    <p>
        <input type="submit" name="draw" value="Draw"
               onclick="this.form.action='{{ path('api-draw') }}';">
    </p>
    <p>
        <input type="number" id="drawNumber" name="num" min="1" value="1">
        <input type="submit" name="draw-number" value="Draw Cards"
               onclick="updateAction();">
    </p>
<p>
    <a class="link-color" href="{{ path('api-game') }}">Game</a></li>
</p>
</form>

<script>
function updateAction() {
    var num = document.getElementById('drawNumber').value;
    var baseUrl = '{{ path('api_draw_number', {'num': '0'}) }}';
    var actionUrl = baseUrl.replace('/0', '/' + num);
    document.querySelector('form').action = actionUrl;
}
</script>

    {{ include('flash.html.twig') }}

{% endblock %}
