<!DOCTYPE html>
<html>
    <header class="site-header" style="background-image: url({{ asset('assets/img/background.jpg') }})">
        <span class="site-title">My Symfony Site</span>
    </header>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('assets/img/glider.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <nav>
            <ul>
                <li class="link-color"><a class="link-color" href="{{ path('me') }}">Me</a></li>
                <li class="link-color"><a class="link-color" href="{{ path('about') }}">About</a></li>
                <li class="link-color"><a class="link-color" href="{{ path('report') }}">Report</a></li>
                <li class="link-color"><a class="link-color" href="{{ path('lucky') }}">Lucky</a></li>
                <li class="link-color"><a class="link-color" href="{{ path('landingpage') }}">Card landingpage</a></li>
                <li class="link-color"><a class="link-color" href="{{ path('apilandingpage') }}">Api landingpage</a></li>
                <li class="link-color"><a class="link-color" href="{{ path('gamelandingpage') }}">Game</a></li>
                <li class="link-color"><a class="link-color" href="{{ path('library-page') }}">Bibliotek</a></li>
            </ul>
        </nav>
        {% block body %}{% endblock %}
    </body>
    <footer class="site-footer">
        <div class="footer-content">
            <a class="gitimg" href="https://github.com/Grimgoren/Mvc">
                <img src="{{ asset('assets/img/GitHub-logo.png') }}" alt="">
            </a>
            <p>Copyright AG</p>
        </div>
    </footer>
</html>
