{% extends "base.html.twig" %}
{% block body %}

<h1>Shuffled Cards</h1>

<ul>
    <li class="link-color"><a class="link-color" href="{{ path('card_init_get') }}">Cards</a></li>
    <li class="link-color"><a class="link-color" href="{{ path('card_shuffle_get') }}">Shuffle</a></li>
    <li class="link-color"><a class="link-color" href="{{ path('card_draw_get') }}">Draw</a></li>
</ul>

<ul>
{{ include('flash.html.twig') }}
<p>Remaining cards: {{ deckCount }}</p>
<div class="card-container">
    {% for card in cards %}
        <div class="allcards
            {% if card.getSuit() == 'Hearts' %}
                heart
            {% elseif card.getSuit() == 'Diamonds' %}
                diamond
            {% elseif card.getSuit() == 'Clubs' %}
                club
            {% else %}
                spade
            {% endif %}
        ">
            <p>{{ card.getAsString() }}</p>
        </div>
    {% endfor %}
</div>
</ul>
{% endblock %}
