{% extends 'base.html.twig' %}

{% block title %}Redigera Bok{% endblock %}

{% block body %}
<form action="{{ path('library_edit', {'id': libraryItem.id}) }}" method="post">
    <input type="hidden" id="id" name="id" value="{{ libraryItem.id }}">

    <label for="title">Titel:</label>
    <input type="text" id="title" name="title" value="{{ libraryItem.title }}"><br>

    <label for="isbn">ISBN:</label>
    <input type="text" id="isbn" name="isbn" value="{{ libraryItem.ISBN }}"><br>

    <label for="author">Författare:</label>
    <input type="text" id="author" name="author" value="{{ libraryItem.author }}"><br>

    <label for="picture">Bild URL:</label>
    <input type="text" id="picture" name="picture" value="{{ libraryItem.picture }}"><br>

    <button><input type="submit" value="Spara"></button>
    <a href="{{ path('library_show_all_html') }}">Avbryt</a>
</form>

<form action="{{ path('library_delete', {'id': libraryItem.id}) }}" method="post">
    <input type="submit" value="Radera">
</form><br>

<img src="{{ libraryItem.picture }}" alt="{{ libraryItem.title }} picture" /><br>
{% endblock %}
