{% extends 'base.html.twig' %}

{% block body %}
{% for item in libraryItems %}
<h1>{{ item.title }}</h1>
{% endfor %}
    {% for item in libraryItems %}
        <div class="button-container">
            <a href="{{ path('library_show_all_html') }}" class="button-86">Tillbaka</a>
        </div>
        <form action="{{ path('library_show_edit_form', {'id': item.id}) }}" method="post">
            <button type="submit" class="button-86">Redigera</button>
            <div class="library-container">
            <div class="book">
            <p>Bokens Id: {{ item.id }}</p>
            <p>ISBN: <strong>{{ item.ISBN }}</strong></p>
            <p>Författare: <strong>{{ item.author }}</strong></p>
            <img src="{{ item.picture }}" alt="{{ item.title }} picture" class="book-picture" />
        </form>
    </div>
    {% else %}
    <div>No results found.</div>
    {% endfor %}
</div>
{% endblock %}
