{% extends 'base.html.twig' %}

{% block title %}Alla Böcker{% endblock %}

{% block body %}
<h1>Alla Böcker</h1>
<div class="button-container">
    <a href="{{ path('library-page') }}" class="button-86">Tillbaka</a>
</div>
<div class="library-container">
    {% for item in libraryItems %}
    <div class="book">
        <a href="{{ path('library-showDetails-page', {'title': item.title}) }}" style="color:blue;text-decoration:underline;">
            {{ item.title }}
        </a><br>
        {{ item.author }}<br>
        <span class="book-cover"><img src="{{ item.picture }}" alt="{{ item.title }} picture" class="book-picture" /></span>
    </div>
    {% else %}
    <div>No results found.</div>
    {% endfor %}
</div>
{% endblock %}
